.profile  {
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.profile ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile button{
  margin-top: 20px;
}

.light .profile li{
  color: black;
}