header {
  background-color: #a34545;
  align-items: center;
}

.dark header {
  background-color: #242c31;
  color: aliceblue;
}
header h1 {
  padding: 20px;
  
}

header .logo a{
  color:aliceblue;
  font-size: 25px;
}
/* ===============
   1.  ul class .flex
================ */

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
}


.main-list {
  padding: 20px;
  font-size: 19px;
  position: relative;
}

.main-link {
  padding: 8px 15px;
}

.main-link:hover {
  color: cyan;
  box-shadow: 0 0 5px cyan;
  border-radius: 5px;
}

/* =======================================
   1.1 sub HTML + css + JavaScript
======================================== */

.sub-ul {
  display: none;

  position: absolute;
  top: 69px;
  left: -15px;
  border-top: 1px solid cyan;

  background-color: #1b1b1b;

  border-radius: 5px;
  padding: 5px;

  width: 155px;
}

.sub-of-js {
  left: 10px;
}

.sub-ul li {
  padding: 8px 0;
  font-size: 17px;
  border-bottom: 1px solid black;
}

.sub-ul li a:hover {
  color: cyan;
  font-weight: bold;
}

.main-list:hover .sub-ul {
  display: block;
}
li a {
  color: aliceblue;
}
.dark .fa-moon {
  display: none;
}
.light .fa-sun {
  display: none;
}
.fa-moon {
  color: #1b1b1b;
}
.light .theme-btn{
  background-color: aliceblue !important;
}
/* =======================================
   1.2 sub sub of CSS
======================================== */

.sub-sub-ul {
  position: absolute;
  top: 80px;
  left: 153px;
  border-top: 1px solid cyan;
  background-color: #1b1b1b;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  display: none;
}

.mini-projects:hover .sub-sub-ul {
  display: block;
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

@media (max-width: 600px) {
  .show-when-mobile {
    display: block;
  }

  .hide-when-mobile {
    display: none;
  }

  /* ====================================
    1. Font Awesom hamburger menu
======================================= */
  .absolute {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .fa-bars {
    font-size: 30px;
    transform: scaleX(1.4);
  }

  .fas {
    position: absolute;
    right: 10vw;
  }

  /* ====================================
    2. show on click
======================================= */

  .show-on-click {
    display: none;
    border-top: 2px solid black;
  }

  #burger:checked + .show-on-click {
    display: block;
  }

  label {
    font-size: 22px;
    /* border: 2px solid red; */
    display: block;
    padding: 20px;
  }

  label:hover,
  .fa-bars:hover,
  .sub-div li a:hover,
  label:hover .fas {
    color: cyan;
    letter-spacing: 2px;
  }

  .sub-div li a {
    display: block;
  }

  .main-div {
    border-bottom: 2px solid black;
  }

  /* ====================================
    3. sub of div
======================================= */

  .sub-div {
    display: none;
  }

  #html:checked + .sub-div,
  #css:checked + .sub-div,
  #js:checked + .sub-div {
    display: block;
  }

  .sub-div li {
    font-size: 17px;
    padding: 10px 0 10px 35px;
  }

  /* ====================================
    3. sub sub of css
======================================= */
  .sub-sub-div {
    display: none;
    margin-top: 17px;
  }

  #mini:checked + .sub-sub-div {
    display: block;
  }

  .mini-projects {
    padding: 0;
    font-size: 17px;
  }
}

/* //start lang  */
header .lang {
  background-color: green;
  width: 130px;
  border-radius: 10px;
  font-size: 15px;
  padding: 15px 0px;
  margin: 0;
  cursor: pointer;
}
header .lang-box{
  position: absolute;
  top: 80%;
  right: 20px;
  background-color: green;
  color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  width: 130px;
  z-index: 100;

}
header .lang-box li{
  margin-bottom: 15px;
  padding: 5px;
  background-color: rgb(86, 156, 98);
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
  font-size: 15px;
}
header .lang-box li:hover{
  scale: 1.1;
}